<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>servlet_advanced</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserAgentServlet</display-name>
    <servlet-name>UserAgentServlet</servlet-name>
    <servlet-class>com.imooc.servlet.UserAgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAgentServlet</servlet-name>
    <url-pattern>/ua</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAgent</display-name>
    <servlet-name>UserAgent</servlet-name>
    <servlet-class>com.imooc.servlet.UserAgent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAgent</servlet-name>
    <url-pattern>/UA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentTypeServlet</display-name>
    <servlet-name>ContentTypeServlet</servlet-name>
    <servlet-class>com.imooc.servlet.ContentTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentTypeServlet</servlet-name>
    <url-pattern>/type</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>com.imooc.servlet.direct.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/direct/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.imooc.servlet.direct.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/direct/index</url-pattern>
  </servlet-mapping>
</web-app>